<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <Filofax_CouponCheckoutBug>
            <version>1.0.0</version>
        </Filofax_CouponCheckoutBug>
    </modules>
    <global>
        <models>
            <filocouponbug>
                <class>Filofax_CouponCheckoutBug_Model</class>
            </filocouponbug>
        </models>
        <events>
            <controller_action_predispatch_checkout_cart_couponPost>
                <observers>
                    <filocouponbug>
                        <type>singleton</type>
                        <class>filocouponbug/observer</class>
                        <method>removeCoupon</method>
                    </filocouponbug>
                </observers>
            </controller_action_predispatch_checkout_cart_couponPost>
        </events>
    </global>
</config>
