<?xml version="1.0"?>
<config>
    <modules>
        <Filofax_Simple>
            <version>1.0.0</version>
        </Filofax_Simple>
    </modules>
    <global>
        <blocks>
            <filofax_simple>
                <class>Filofax_Simple_Block</class>
            </filofax_simple>
        </blocks>
        <helpers>
            <filofax_simple>
                <class>Filofax_Simple_Helper</class>
            </filofax_simple>
        </helpers>
        <models>
            <filofax_simple>
                <class>Filofax_Simple_Model</class>
            </filofax_simple>
        </models>
        <resources>
            <filofax_simple_setup>
                <setup>
                    <module>Filofax_Simple</module>
                    <class>Filofax_Simple_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filofax_simple_setup>
            <filofax_simple_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filofax_simple_write>
            <filofax_simple_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filofax_simple_read>
        </resources>
    </global>
    <adminhtml>
        <events>
            <core_block_abstract_to_html_before>
                <observers>
                    <filofax_simple>
                        <type>singleton</type>
                        <class>filofax_simple/observer</class>
                        <method>beforeBlockToHtml</method>
                    </filofax_simple>
                </observers>
            </core_block_abstract_to_html_before>
            <eav_collection_abstract_load_before>
                <observers>
                    <filofax_simple>
                        <class>filofax_simple/observer</class>
                        <method>beforeCollectionLoad</method>
                    </filofax_simple>
                </observers>
            </eav_collection_abstract_load_before>
        </events>
    </adminhtml>
</config>
