<?xml version="1.0"?>
<config>
    <modules>
        <Filofax_Reviews>
            <version>1.0.0</version>
        </Filofax_Reviews>
    </modules>
    <global>
        <helpers>
            <filofax_reviews>
                <class>Filofax_Reviews_Helper</class>
            </filofax_reviews>
        </helpers>
        <models>
            <filofax_reviews>
                <class>Filofax_Reviews_Model</class>
                <resourceModel>filofax_reviews_resource</resourceModel>
            </filofax_reviews>
            <filofax_reviews_resource>
                <class>Filofax_Reviews_Model_Resource</class>
                <entities>
                    <review>
                        <table>review</table>
                    </review>
                    <review_detail>
                        <table>review_detail</table>
                    </review_detail>
                    <review_status>
                        <table>review_status</table>
                    </review_status>
                    <review_entity>
                        <table>review_entity</table>
                    </review_entity>
                    <review_aggregate>
                        <table>review_entity_summary</table>
                    </review_aggregate>
                    <review_store>
                        <table>review_store</table>
                    </review_store>
                </entities>
            </filofax_reviews_resource>
        </models>
        <resources>
            <filofax_reviews_setup>
                <setup>
                    <module>Filofax_Reviews</module>
                </setup>
            </filofax_reviews_setup>
        </resources>
    </global>
</config>
