<?xml version="1.0"?>
<config>
    <modules>
        <Filofax_Caadiscount>
            <version>1.0.0</version>
        </Filofax_Caadiscount>
    </modules>
    <global>
        <blocks>
            <filocaa>
                <class>Filofax_Caadiscount_Block</class>
            </filocaa>
        </blocks>
        <models>
            <filocaa>
                <class>Filofax_Caadiscount_Model</class>
            </filocaa>
        </models>
        <helpers>
            <filocaa>
                <class>Filofax_Caadiscount_Helper</class>
            </filocaa>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <filocaa>
                    <file>filofax/filocaa.xml</file>
                </filocaa>
            </updates>
        </layout>
        <routers>
            <filocaa>
                <use>standard</use>
                <args>
                    <module>Filofax_Caadiscount</module>
                    <frontName>caadiscount</frontName>
                </args>
            </filocaa>
        </routers>
        <events>
            <sales_order_place_after>
                <observers>
                    <filocaa>
                        <class>filocaa/observer</class>
                        <method>sendSale</method>
                    </filocaa>
                </observers>
            </sales_order_place_after>
        </events>
    </frontend>
    <default>
        <filocaa>
            <validation_application>
                <endpoint_validation><![CDATA[https://uddirp.caasco.ca/MembershipValidationWS/MembershipValidationService.svc?wsdl]]></endpoint_validation>
                <test_endpoint_validation><![CDATA[https://uddirpqa.caasco.ca/ESB/QA/MembershipValidationWS/MembershipValidationService.svc?wsdl]]></test_endpoint_validation>
            </validation_application>
            <discount_application>
                <endpoint_discount><![CDATA[https://uddi.caasco.ca/AXISws/AffinityService.svc?wsdl]]></endpoint_discount>
                <test_endpoint_discount><![CDATA[https://uddi.caasco.ca/testAxisWS/AffinityService.svc?wsdl]]></test_endpoint_discount>
            </discount_application>
        </filocaa>
    </default>
</config>